{% extends "layout.html" %}
{% block body %}

<style>
    p.sub::first-line {
      font-size: 300%;
      color: #8A2BE2;
    }
    .name::first-letter {
      font-size: 200%;
      color: #e22b6e;
    }
    .content::first-letter {
      font-size: 180%;
      color: #e22b6e;
    }
    p{
        display: inline-block;
    }
</style>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/about-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p class="sub">Hello,</p>
                        <!-- &emsp; - 4 space gap -->
                        <p class="name">&emsp;My name is Mahesh Tawar </p>
                        <p class="content">&emsp;&emsp; I Currently Pursuing Master of Science in Computer Science From Sinhgad College of Science.
                            I completed my B.Sc.(C.S.) from Sinhgad College of Science, Pune in 2021.
                        </p>
                    
                        <p>&emsp;&emsp; thank you for taking time to visit. </p>
                    </div>
                </div>
            </div>
        </main>

        
{% endblock %}
