{% extends "layout.html" %}
{% block body %}


    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Add/Edit Post</h1>
                        <span class="subheading">We add or upload file here</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Container -->
    <div class="container">
        <h1>Basic Action</h1>
        <a href="/admin"><button class="btn btn-primary">Dashboard</button></a>
        <a href="/logout"><button class="btn btn-primary">Logout</button></a>
        <hr>

        <form name="sentMessage" id="editForm" action = "/edit/{{post.sno}}" method="post" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" value="{{post.title}}" class="form-control" placeholder="title" id="title" name='title' required data-validation-required-message="Please enter Title.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>sub_title</label>
                <input type="text" value="{{post.sub_title}}" class="form-control" placeholder="sub_title" id="tline" name='tline' required data-validation-required-message="Please enter sub title.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Slug</label>
                <input type="text" value="{{post.slug}}" class="form-control" placeholder="Slug" id="slug" name='slug' required data-validation-required-message="Please enter slug.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Content</label>
                  <textarea rows="5" class="form-control" placeholder="content" name = "content" id="content" required data-validation-required-message="Please enter a content">
                    {{post.content}}
                  </textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            <!-- <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>date</label>
                <input type="datetime" value="{{post.date}}" class="form-control" placeholder="date" id="date" name='date' required data-validation-required-message="Please enter date time">
                <p class="help-block text-danger"></p>
              </div>
            </div>             -->
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Img File</label>
                <input type="text" value="{{post.img_file}}" class="form-control" placeholder="img_file" name = "img_file" id="img_file" required data-validation-required-message="Enter Img Name with extension">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
            </div>
          </form>
    </div>
{% endblock %}