{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Website Heading For You</h1>
                            <span class="subheading">Welcome to my Website</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% for post in posts[::-1] %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/post/{{post.slug}}">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">{{post.sub_title}}</h3>
                        </a>
                        <p> {{post.content[0:140]}} ... </p>
                        <p class="post-meta">
                            Posted by Admin on {{post.date}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    
                    <!-- Pager-->
                    <div class="clearfix">
                        {% if page>1 %}
                        <a href="{{prev}}" class="btn btn-primary" style="float: left;">&larr;Old Post</a>
                        {% endif %}
                        {% if page < last %}
                        <a href="{{next}}" class="btn btn-primary" style="float: right;">New Post&rarr;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}